# Copyright (C) 2023 Paranoid Android
# SPDX-License-Identifier: Apache-2.0

on property:sys.perf_profile=1
    write /sys/class/kgsl/kgsl-3d0/force_bus_on 1
    write /sys/class/kgsl/kgsl-3d0/force_clk_on 1
    write /sys/class/kgsl/kgsl-3d0/force_no_nap 1
    write /sys/class/kgsl/kgsl-3d0/force_rail_on 1
    write /sys/class/kgsl/kgsl-3d0/idle_timer 120
    write /sys/class/kgsl/kgsl-3d0/throttling 0
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1612800
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq 1555200
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1804800 6:2304000"
    write /sys/module/cpu_boost/parameters/input_boost_ms 250
    write /sys/class/devfreq/soc:qcom,cpu-llcc-ddr-bw/governor performance
    write /sys/module/lpm_levels/parameters/sleep_disabled 1

on property:sys.perf_profile=0
    write /sys/class/kgsl/kgsl-3d0/force_bus_on 0
    write /sys/class/kgsl/kgsl-3d0/force_clk_on 0
    write /sys/class/kgsl/kgsl-3d0/force_no_nap 0
    write /sys/class/kgsl/kgsl-3d0/force_rail_on 0
    write /sys/class/kgsl/kgsl-3d0/idle_timer 63
    write /sys/class/kgsl/kgsl-3d0/throttling 1
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 1017600
    write /sys/devices/system/cpu/cpu6/cpufreq/scaling_min_freq 979200
    write /sys/module/cpu_boost/parameters/input_boost_freq "0:1612800 6:1324800"
    write /sys/module/cpu_boost/parameters/input_boost_ms 200
    write /sys/class/devfreq/soc:qcom,cpu-llcc-ddr-bw/governor bw_hwmon
    write /sys/module/lpm_levels/parameters/sleep_disabled 0
