<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2024 Paranoid Android
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.internal.display.cutout.emulation.fullscreen">

    <application
      android:label="@string/display_cutout_emulation_overlay"
      android:hasCode="false" />

    <overlay
      android:priority="850"
      android:category="com.android.internal.display_cutout_emulation"
      android:targetPackage="android" />
</manifest>
